// colors
//Primary
$light-green: hsl(148, 38%, 91%);
$green: hsl(169, 82%, 27%);
$btn-hover: hsl(169, 82%, 20%);
$red: hsl(0, 66%, 56%);
// neutral
$white: hsl(0, 0%, 100%);
$medium-grey: hsl(186, 15%, 59%);
$dark-grey: hsl(187, 24%, 22%);

// Body Copy
$body-size: 16px;

// Font
$family: "Karla", sans-serif;